<body>
	<section class="hero is-primary" id="home-section">
		<div class="hero-head">
			<div class="container-fluid">
				<nav class="level" id="menu">
				  <p class="level-item has-text-centered">
				    <%= link_to 'Back', root_path, class: 'link is-info' %>
				  </p>
				  <p class="level-item has-text-centered milkbox">
				    <%= image_tag 'milk-carton.png', style: 'height: 100px' %>
				  </p>
				</nav>
			</div>
		</div>
	  <div class="hero-body nav-padding">
	  </div>
	</section>
	<section class="section" id="tim-section">
		<div class="container">
			<div class="body tim">
				<h1 class="title is-2 has-text-centered">Credits</h1>
				<hr>
				<p>Designed by <a href="https://github.com/connordougherty" class="is-branding">Connor Dougherty</a></p>
				<p>Developed by <a href="https://github.com/wlhaskell/chocolatemilkmile" class="is-branding">Will Haskell</a></p>
				<br>
				<p>milk carton by iconsmind.com from the Noun Project</p>
			</div>
		</div>
	</section>
</body>