<!DOCTYPE html>
<html>
<head>
	<title>The Chocolate Milk Mile</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">

</head>
<body>
	<header class="header">
		
	</header>
	<section class="hero is-primary is-medium" id="home-section">
		<div class="hero-head">
			<div class="container-fluid">
				<nav class="level" id="menu">
				  <p class="level-item has-text-centered">
				    <a class="link is-info" id="home">Home</a>
				  </p>
				  <p class="level-item has-text-centered">
				    <a class="link is-info" id="tim">About Tim</a>
				  </p>
				  <p class="level-item has-text-centered milkbox">
				  	<%= image_tag 'milk-carton.png', style: 'height: 100px' %>
				  </p>
				  <p class="level-item has-text-centered">
				    <a class="link is-info" id="run">About the Run</a>
				  </p>
				  <p class="level-item has-text-centered">
				    <a class="link is-info" id="register">Register</a>
				  </p>
				</nav>
			</div>
		</div>
	  <div class="hero-body nav-padding">
	    <div class="container">
	    	<div class="columns">
	    		<div class="column is-5 is-offset-1 is-hidden-touch">
	    			<div id="glass">
	    				<div id="straw"></div>
	    				<div id="pour"></div>
	    				<div id="syrup"></div>
	    				<div id="milk"></div>
	    			</div>
	    		</div>
	    		<div class="column is-half is-hidden-desktop">
	    			<div id="glass">
	    				<div id="milk-touch"></div>
	    			</div>
	    		</div>
	    		<div class="column is-5">
	    			<h1 class="title is-1 has-text-right">
	    				<div>the&nbsp;&nbsp;&nbsp;</div>
			        <div class="chocolate">chocolate</div>
			        <div>milk&nbsp;&nbsp;&nbsp;</div>
			        <div>mile&nbsp;&nbsp;&nbsp;</div>
			      </h1>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</section>
	<section class="section" id="tim-section">
		<div class="container">
			<div class="body tim">
				<h1 class="title is-2 has-text-centered">About Tim</h1>
				<h2 class="subtitle is-3 has-text-centered">Subtitle about Tim</h2>
				<hr>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venit ad extremum; Tecum optime, deinde etiam cum mediocri amico. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. At multis malis affectus. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. </p><br>

				<img class="about-tim" src="http://placehold.it/480x480">

				<p>Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers? Quid ergo attinet gloriose loqui, nisi constanter loquare? Zenonis est, inquam, hoc Stoici. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Tum, Quintus et Pomponius cum idem se velle dixissent, Piso exorsus est. Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. Et harum quidem rerum facilis est et expedita distinctio. Nunc omni virtuti vitium contrario nomine opponitur. Hoc mihi cum tuo fratre convenit. Iam id ipsum absurdum, maximum malum neglegi. </p><br>

				<p>Ego vero volo in virtute vim esse quam maximam; Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam possit fieri accessio. Duo Reges: constructio interrete. Et quidem, inquit, vehementer errat; Tollenda est atque extrahenda radicitus. Aliud igitur esse censet gaudere, aliud non dolere. </p><br>

				<p>Nam quid possumus facere melius? Iam in altera philosophiae parte. Nihil ad rem! Ne sit sane; Quod quidem nobis non saepe contingit. </p><br>

				<p>Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere. Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Et quod est munus, quod opus sapientiae? Refert tamen, quo modo. Dat enim intervalla et relaxat. Duo enim genera quae erant, fecit tria. </p><br>
			</div>
		</div>
	</section>
	<section class="section" id="run-section">
		<div class="container">
			<div class="body run">
				<h1 class="title is-2 has-text-centered">About the Run</h1>
				<h2 class="subtitle is-3 has-text-centered">Subtitle about run</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venit ad extremum; Tecum optime, deinde etiam cum mediocri amico. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. At multis malis affectus. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. </p><br>

				<img class="about-run" src="http://placehold.it/480x480">

				<p>Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers? Quid ergo attinet gloriose loqui, nisi constanter loquare? Zenonis est, inquam, hoc Stoici. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Tum, Quintus et Pomponius cum idem se velle dixissent, Piso exorsus est. Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. Et harum quidem rerum facilis est et expedita distinctio. Nunc omni virtuti vitium contrario nomine opponitur. Hoc mihi cum tuo fratre convenit. Iam id ipsum absurdum, maximum malum neglegi. </p><br>

				<p>Ego vero volo in virtute vim esse quam maximam; Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam possit fieri accessio. Duo Reges: constructio interrete. Et quidem, inquit, vehementer errat; Tollenda est atque extrahenda radicitus. Aliud igitur esse censet gaudere, aliud non dolere. </p><br>

				<p>Nam quid possumus facere melius? Iam in altera philosophiae parte. Nihil ad rem! Ne sit sane; Quod quidem nobis non saepe contingit. </p><br>

				<p>Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere. Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Et quod est munus, quod opus sapientiae? Refert tamen, quo modo. Dat enim intervalla et relaxat. Duo enim genera quae erant, fecit tria. </p><br>
			</div>
		</div>
	</section>
	</section>
	<section class="section" id="register-section">
		<div class="container">
			<div class="body register">
				<h1 class="title is-2 has-text-centered">Register</h1>
				<h2 class="subtitle is-3 has-text-centered">Subtitle register</h2>
				<hr>
				<form>
					<label class="label">Name</label>
					<p class="control">
					  <input class="input" type="text" placeholder="Text input">
					</p>
					<label class="label">Username</label>
					<p class="control has-icon has-icon-right">
					  <input class="input is-success" type="text" placeholder="Text input" value="bulma">
					  <i class="fa fa-check"></i>
					  <span class="help is-success">This username is available</span>
					</p>
					<label class="label">Email</label>
					<p class="control has-icon has-icon-right">
					  <input class="input is-danger" type="text" placeholder="Email input" value="hello@">
					  <i class="fa fa-warning"></i>
					  <span class="help is-danger">This email is invalid</span>
					</p>
					<label class="label">Subject</label>
					<p class="control">
					  <span class="select">
					    <select>
					      <option>Select dropdown</option>
					      <option>With options</option>
					    </select>
					  </span>
					</p>
					<label class="label">Message</label>
					<p class="control">
					  <textarea class="textarea" placeholder="Textarea"></textarea>
					</p>
					<p class="control">
					  <label class="checkbox">
					    <input type="checkbox">
					    Remember me
					  </label>
					</p>
					<p class="control">
					  <label class="radio">
					    <input type="radio" name="question">
					    Yes
					  </label>
					  <label class="radio">
					    <input type="radio" name="question">
					    No
					  </label>
					</p>
					<p class="control">
					  <button class="button is-large is-primary">Submit</button>
					</p>
				</form>
			</div>
		</div>
	</section>
	<footer class="footer">
	  <div class="container">
	    <div class="content has-text-centered">
	      <p>
	        <strong>Design</strong> by <a href="https://github.com/connordougherty">Connor Dougherty</a>
	      </p>
	    </div>
	  </div>
	</footer>
</body>
</html>