
<header class="header">
	
</header>
<section class="hero is-primary is-medium" id="home-section">
	<div class="hero-head">
		<div class="container-fluid">
			<nav class="level" id="menu">
			  <p class="level-item has-text-centered">
			    <a class="link is-info" id="home">Home</a>
			  </p>
			  <p class="level-item has-text-centered">
			    <a class="link is-info" id="tim">About Tim</a>
			  </p>
			  <p class="level-item has-text-centered milkbox">
			  	<%= image_tag 'milk-carton.png', style: 'height: 100px' %>
			  </p>
			  <p class="level-item has-text-centered">
			    <a class="link is-info" id="run">About the Run</a>
			  </p>
			  <p class="level-item has-text-centered">
			    <a class="link is-info" id="register">Register</a>
			  </p>
			</nav>
		</div>
	</div>
  <div class="hero-body nav-padding">
    <div class="container">
    	<div class="columns">
    		<div class="column is-5 is-offset-1 is-hidden-touch">
    			<div id="glass">
    				<div id="straw"></div>
    				<div id="pour"></div>
    				<div id="syrup"></div>
    				<div id="milk"></div>
    			</div>
    		</div>
    		<div class="column is-half is-hidden-desktop">
    			<div id="glass">
    				<div id="milk-touch"></div>
    			</div>
    		</div>
    		<div class="column is-5">
    			<h1 class="title is-1 has-text-right">
    				<div>the&nbsp;&nbsp;&nbsp;</div>
		        <div class="chocolate">chocolate</div>
		        <div>milk&nbsp;&nbsp;&nbsp;</div>
		        <div>mile&nbsp;&nbsp;&nbsp;</div>
		      </h1>
    		</div>
    	</div>
    </div>
  </div>
</section>
<section class="section" id="tim-section">
	<div class="container">
		<div class="body tim">
			<h1 class="title is-2 has-text-centered">About Tim</h1>
			<h2 class="subtitle is-3 has-text-centered">Subtitle about Tim</h2>
			<hr>

				<p>On July 29<sup>th</sup>, 2016, Tim had a biopsy of a mass found under his breastbone after having some odd swelling and bruising in his face, neck, and chest. The biopsy results indicated that he had a "Primary Mediastinal Large B-cell Lymphoma" and would require a chemotherapy regime starting immediately. </p><br>

				<%= image_tag "tim/Hospital.jpg", class: 'about-tim', style: 'height: 480px' %>

				<p>Tim will have 6 rounds of chemo, each lasting 21 days. He will undergo 5-6 days of a 24-hour infusion drip each round, in which he will be in the hospital for those infusions entirely. He was admitted to the hospital for his first chemo treatment on August 10th and his last treatment will begin around Thanksgiving. </p><br>

				<p>Many people have asked about his prognosis. It's good! Really good! This type of lymphoma typically responds really well to treatment. His team of doctors (and our family!) have high hopes for a complete remission. </p><br>

				<p>Obviously this is going to be a trying time for our family, so we appreciate any and all prayers, thoughts, good luck etc you can send his way as well as to our three kids who are 3, 2, and 11 months old. Our hope is to keep their lives as normal as possible while Tim fights this battle. </p><br>

				<p>If you know Tim at all, you know he is extremely strong-willed, motivated, hilarious, and most of all STUBBORN. He will fight this battle with everything he has! </p><br>

				<p>We are so appreciative of all the love and support we have been given throughout the last couple weeks of this journey. We are so blessed to have the friends we do who are organizing the Chocolate Milk Mile Run for Tim. Without you all, we would not be #teamgaulrapp strong!</p><br>

				<p>
					Love Always,<br>
					Morgan Gaulrapp<br>
					Tim's Wife
				</p><br>

		</div>
	</div>
</section>
<section class="section" id="run-section">
	<div class="container">
		<div class="body run">
			<h1 class="title is-2 has-text-centered">About the Run</h1>
			<h2 class="subtitle is-3 has-text-centered">Subtitle about run</h2>
			<hr>
			<h2 class="subtitle is-3">Date: Sunday September 18<sup>th</sup></h2>
			<h2 class="subtitle is-3">Time: 1 PM</h2>
			<h2 class="subtitle is-3">Location: Track TBD in Syracuse</h2>
			<h2 class="subtitle is-3">Registration Levels:</h2>
			<h2 class="subtitle is-5">Timmy's Trailbalzers: Run Laps, Guzzle Milk ($15)</h2>
			<h2 class="subtitle is-5">Timmy's Triers: Run Laps, save your stomach ($15)</h2>
			<h2 class="subtitle is-5">Timmy's Toddlers: Walk Laps ($15)</h2>
			<h2 class="subtitle is-5">Timmy's Tribe: Donation of any amount.  For those who cannot be there or won't participate ($0)</h2>

		</div>
	</div>
</section>
</section>
<section class="section" id="register-section">
	<div class="container">
		<div class="body register">
			<a name="register"></a>
			<h1 class="title is-2 has-text-centered">Register</h1>
			<h2 class="subtitle is-3 has-text-centered">New Registration</h2>
			<%= render 'form' %>
		</div>
	</div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Design</strong> by <a href="https://github.com/connordougherty">Connor Dougherty</a>
      </p>
    </div>
  </div>
</footer>



