 <section class='section'>
	<div class='container'>
		<p>You are not authorized to view this page</p>
		<p>Please return to the <%=link_to 'Home Page', root_path, class: 'button is-primary' %></p>
  </div>
 </section>
