<!DOCTYPE html>
<html>
<head>
  <title>ChocolateMilkMile</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
